html,
body {
	margin: 0px;
	font-size: 13px;
}

.homepage__main {
	background-image: url('./hero.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.homepage__main::before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: white;
	opacity: 0.85;
	transition: ease-in-out 1s;
}

.store__product__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product__container {
	display: flex;
	align-items: center;
	width: 35rem;
	height: 20rem;
	margin: 0rem 3rem 6rem 3rem;
}

.product__name {
	font-size: 12px;
}

.product__image {
	max-height: 15rem;
	max-width: 15rem;
	margin-bottom: 1rem;
}

.product__price {
	color: rgb(16, 128, 16);
	font-weight: bolder;
	font-size: 32px;
}

.product__footer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	width: 100%;
}

.product__main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	margin: 2rem;
}

.product__main > p {
	font-size: 12px;
}

.product__quantity__container {
	display: flex;
	width: fit-content !important;
}

.product__quantity__container > input {
	text-align: center;
	width: 2rem;
	border: none;
	border-top: 1px solid #6c757d;
	border-bottom: 1px solid #6c757d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.navbar__logo {
	font-size: 40px;
	margin-left: 2rem;
}

.navbar__cart {
	font-size: 30px;
	margin-right: 2rem;
	margin-left: auto;
	cursor: pointer;
}

.navbar__cartnum {
	position: relative;
	bottom: 2.5rem;
	left: 1.1rem;
	font-size: 10px;
	font-weight: bolder;
	background-color: rgb(255, 58, 58);
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	text-align: center;
}

.navbar__navlinks {
	display: flex;
	justify-content: center;
}

.overview__container {
    display: flex;
    flex-direction: column;
	position: absolute;
	min-height: 40vh;
	max-height: 70vh;
	overflow-y: auto;
	width: 23rem;
	background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
	top: 8rem;
	right: 2rem;
	border-radius: 1rem;
}

.cartItem__container,
.overview__title,
.overview__footer {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 0.3fr;
	align-items: center;
	padding: 1rem;
}

.overview__title {
	font-size: 10px;
	text-align: center;
}

.overview__hr {
	grid-column: 1 / span 4;
}

.overview__footer {
    margin-top: auto;
}

.overview__footer>h5 {
    text-align: center;
}

/* OVERVIEW SCROLLBAR */

.overview__container::-webkit-scrollbar {
	width: 0.5em;
}
.overview__container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.overview__container::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.cartItem__container > h5,
h6 {
	text-align: center;
    font-size: 13px;
}

.cartItem__name {
    text-align: start;
    font-size: 11px;
}

.cartItem__cancel {
    margin-bottom: 0.5rem;
    justify-self: end;
    cursor:pointer;
}

